<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Thymeleaf 어트리뷰트(예: th:text, th:each, th:if, th:href)를 사용할 수 있도록 Thymeleaf 네임스페이스를 선언-->
<head>
    <meta charset="UTF-8">
    <title>블로그 글 목록</title>
    <!--Bootstrap CSS를 사용하여 페이지의 스타일을 지정-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<!-- 페이지 상단 영역: 제목과 환영 메시지. Bootstrap 클래스를 사용하여 스타일을 지정 -->
<div class="p-5 mb-5 text-center</> bg-light">
    <h1 class="mb-3">My Blog</h1>
    <h4 class="mb-3">블로그에 오신 것을 환영합니다.</h4>
</div>

<div class="container">
    <!--버튼 클릭 시 자바스크립트의 location.href를 통해 페이지를 이동-->
    <button type="button" id="create-btn"
            th:onclick="|location.href='@{/new-article}'|"
            class="btn btn-secondary btn-sm mb-3">글 등록</button>
    <!-- articles 모델 객체(컨트롤러에서 전달)의 각 아이템을 반복하여 출력 -->
    <div class="row-6" th:each="item : ${articles}">
        <!-- 각 게시글을 카드 형태로 표시 -->
        <div class="card">
            <div class="card-header" th:text="${item.id}">
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${item.title}"></h5>
                <p class="card-text" th:text="${item.content}"></p>
                <!--hymeleaf를 이용하여 /articles/{id} URL로 이동, id는 item.id로 치환-->
                <a th:href="@{/articles/{id}(id=${item.id})}" class="btn btn-primary">보러 가기</a>
            </div>
        </div>
        <br>
    </div>
</div>
<!-- 추가적인 자바스크립트 기능을 위한 외부 자바스크립트 파일 포함 -->
<script src="/js/article.js"></script>
</body>